In [1]:
import pandas as pd
import requests
import os

In [13]:
xls_loc = 'lap_keuangan/XLSX'

bs_indo = [file for file in os.listdir(xls_loc) if file[5:7] == 'BS']
cs_indo = [file for file in os.listdir(xls_loc) if file[5:7] == 'CS']
is_indo = [file for file in os.listdir(xls_loc) if file[5:7] == 'IS']

In [87]:
"""
Create a dictionary where each item is a panda series of the financial statement
"""

data_bs = {}
for file in bs_indo:
    data_bs[file[:4]] = pd.read_excel(f'{xls_loc}/{file}')
    
data_is = {}
for file in is_indo:
    data_is[file[:4]] = pd.read_excel(f'{xls_loc}/{file}')

data_cs = {}
for file in cs_indo:
    data_cs[file[:4]] = pd.read_excel(f'{xls_loc}/{file}')

In [92]:
"""
Drop all rows and columns which only contains NA
"""

for key, item in data_bs.items():
    item.dropna(axis=0, how='all', inplace=True)
    item.dropna(axis=1, how='all', inplace=True)
    data_bs[key] = item

for key, item in data_cs.items():
    item.dropna(axis=0, how='all', inplace=True)
    item.dropna(axis=1, how='all', inplace=True)
    data_cs[key] = item
    
for key, item in data_is.items():
    item.dropna(axis=0, how='all', inplace=True)
    item.dropna(axis=1, how='all', inplace=True)
    data_is[key] = item

In [ ]:
for key, item in data_bs.items():
    print(f'{key} | row: {len(item)} | col: {len(item.columns)}')

In [115]:
'Period Ending' in data_bs['AALI'][data_bs['AALI'].columns[1]][7]

True

In [118]:
type('ASDFAS') == str

True

In [131]:
len(data_bs)

676

In [146]:
period_total = 0

for key, item in data_bs.items():
    for i in range(5):
        for j in range(5, 20):
            anchor = item[item.columns[i]][j]
            if type(anchor) == str:
                if'Period Ending' in item[item.columns[i]][j]:
                    period_total+=1
#                     print(f'{key} | row: {j} | col: {i}')

print(period_total)

583

In [107]:
data_bs['AALI'][data_bs['AALI'].columns[1]][7]

'Period Ending:   (in Rp)\nCurrent Assets:'

In [99]:
data_bs['AALI'][data_bs['AALI'].columns[1]].str.contains('Period Ending')

0       NaN
1       NaN
2       NaN
3       NaN
5       NaN
6       NaN
7      True
8     False
9     False
10    False
11    False
12    False
13    False
14    False
15    False
16    False
17    False
18    False
19    False
20    False
21    False
22    False
23    False
24    False
25    False
26    False
27    False
28    False
29    False
30    False
31    False
32    False
33    False
34    False
35    False
36    False
37      NaN
38      NaN
Name: Unnamed: 1, dtype: object

In [101]:
data_bs['AALI'][data_bs['AALI'].columns[1]]

0                                           NaN
1                                           NaN
2                                           NaN
3                                           NaN
5                                           NaN
6                                           NaN
7     Period Ending:   (in Rp)\nCurrent Assets:
8                     Cash and Cash Equivalents
9                               Net Receivables
10                                    Inventory
11                             Prepaid Expenses
12                         Other Current Assets
13                         Total Current Assets
14                          Deferred Tax Assets
15                             Longterm Assets:
16                   Property Plant & Equipment
17                                     Goodwill
18                            Intangible Assets
19                                 Other Assets
20                        Total Longterm Assets
21                                 Total Assets
22        Current Liabilities: Account Payables
23                              Short Term Debt
24                    Other Current Liabilities
25                    Total Current Liabilities
26                     Deferred Tax Liabilities
27                         Longterm Liabilities
28                            Total Liabilities
29     Minority Interest\nStockholders' Equity:
30                                 Common Stock
31                              Paid-in Capital
32                  Retained Earnings (deficit)
33                   Other Stockholders' Equity
34    Non Controlling Interest (Effective 2011)
35                   Total Stockholders' Equity
36    Total Liabilities &\nStockholders' Equity
37                                          NaN
38                                          NaN
Name: Unnamed: 1, dtype: object

In [ ]:
pd.DataFrame.dropna()

In [103]:
data_bs['AALI'].dropna(axis=0, how='any', subset=['Unnamed: 1'])

,"9/7/2020 PT RTI Infokom - Stock: Financial\nRTI Analytics Analyze any stock, anywhere, anytime. Know when to buy, what to buy, and when to sell.",Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 11
7,NaN,Period Ending: (in Rp)\nCurrent Assets:,NaN,2020-06-30 00:00:00,2019-12-31 00:00:00,2018-12-31 00:00:00,2017-12-31 00:00:00,NaN,2016-12-31 00:00:00,2015-12-31 00:00:00
8,NaN,Cash and Cash Equivalents,NaN,"1,152,117 M","383,366 M","49,082 M","262,292 M",NaN,"531,583 M","294,441 M"
9,NaN,Net Receivables,NaN,"610,200 M","368,739 M","616,624 M","547,538 M",NaN,"527,273 M","45,639 M"
10,NaN,Inventory,NaN,"1,980,060 M","1,974,035 M","2,368,363 M","2,018,104 M",NaN,"2,097,204 M","1,691,575 M"
11,NaN,Prepaid Expenses,NaN,"1,686,739 M","1,169,618 M","1,244,927 M","1,260,585 M",NaN,"843,631 M","740,081 M"
12,NaN,Other Current Assets,NaN,"246,672 M","576,253 M","221,632 M","157,211 M",NaN,"51,853 M","42,387 M"
13,NaN,Total Current Assets,NaN,"5,675,788 M","4,472,011 M","4,500,628 M","4,245,730 M",NaN,"4,051,544 M","2,814,123 M"
14,NaN,Deferred Tax Assets,NaN,"719,121 M","825,031 M","838,940 M","994,046 M",NaN,"1,021,615 M","304,729 M"
15,NaN,Longterm Assets:,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16,NaN,Property Plant & Equipment,NaN,"17,784,273 M","18,030,998 M","18,285,233 M","17,032,362 M",NaN,"17,380,094 M","16,509,560 M"
17,NaN,Goodwill,NaN,"55,951 M","55,951 M","55,951 M","55,951 M",NaN,"55,951 M","55,951 M"
18,NaN,Intangible Assets,NaN,-,-,-,-,NaN,-,-
19,NaN,Other Assets,NaN,"3,146,137 M","3,590,133 M","3,176,215 M","2,607,337 M",NaN,"1,716,918 M","1,828,008 M"
20,NaN,Total Longterm Assets,NaN,"20,986,361 M","21,677,082 M","21,517,399 M","19,695,650 M",NaN,"19,152,963 M","18,393,519 M"
21,NaN,Total Assets,NaN,"27,381,270 M","26,974,124 M","26,856,967 M","24,935,426 M",NaN,"24,226,122 M","21,512,371 M"
22,NaN,Current Liabilities: Account Payables,NaN,"716,231 M","826,845 M","1,088,831 M","832,513 M",NaN,"940,108 M","733,535 M"
23,NaN,Short Term Debt,NaN,-,"150,000 M","1,125,000 M","852,446 M",NaN,"1,985,213 M","2,024,860 M"
24,NaN,Other Current Liabilities,NaN,"805,377 M","589,920 M","862,699 M","624,458 M",NaN,"1,017,646 M","763,738 M"
25,NaN,Total Current Liabilities,NaN,"1,521,608 M","1,566,765 M","3,076,530 M","2,309,417 M",NaN,"3,942,967 M","3,522,133 M"
26,NaN,Deferred Tax Liabilities,NaN,"119,451 M","142,484 M","116,217 M","80,668 M",NaN,"56,977 M","70,564 M"
27,NaN,Longterm Liabilities,NaN,"6,420,853 M","6,286,348 M","4,189,698 M","4,008,903 M",NaN,"2,632,696 M","6,220,887 M"
28,NaN,Total Liabilities,NaN,"8,061,912 M","7,995,597 M","7,382,445 M","6,398,988 M",NaN,"6,632,640 M","9,813,584 M"
29,NaN,Minority Interest\nStockholders' Equity:,NaN,-,-,-,-,NaN,-,-
30,NaN,Common Stock,NaN,"962,344 M","962,344 M","962,344 M","962,344 M",NaN,"962,344 M","787,373 M"
31,NaN,Paid-in Capital,NaN,"3,878,995 M","3,878,995 M","3,878,995 M","3,878,995 M",NaN,"3,878,995 M","83,603 M"
32,NaN,Retained Earnings (deficit),NaN,"14,141,472 M","13,843,880 M","14,181,734 M","13,258,048 M",NaN,"12,293,945 M","10,413,840 M"
33,NaN,Other Stockholders' Equity,NaN,"-114,547 M","-164,066 M","-33,444 M","-33,444 M",NaN,"458,198 M",-
34,NaN,Non Controlling Interest (Effective 2011),NaN,"451,094 M","457,374 M","484,893 M","470,495 M",NaN,-,"413,971 M"
35,NaN,Total Stockholders' Equity,NaN,"19,319,358 M","18,978,527 M","19,474,522 M","18,536,438 M",NaN,"17,593,482 M","11,698,787 M"
36,NaN,Total Liabilities &\nStockholders' Equity,NaN,"27,381,270 M","26,974,124 M","26,856,967 M","24,935,426 M",NaN,"24,226,122 M","21,512,371 M"

In [67]:
data_bs['AALI'][data_bs['AALI'].columns[1]].str.contains('Period Ending')

0       NaN
1       NaN
2       NaN
3       NaN
4       NaN
5       NaN
6       NaN
7      True
8     False
9     False
10    False
11    False
12    False
13    False
14    False
15    False
16    False
17    False
18    False
19    False
20    False
21    False
22    False
23    False
24    False
25    False
26    False
27    False
28    False
29    False
30    False
31    False
32    False
33    False
34    False
35    False
36    False
37      NaN
38      NaN
Name: Unnamed: 1, dtype: object

In [ ]:
# 'Period Ending' in data_bs['AALI'].iloc[7][1]

for key, item in data_bs.items():
    print(item.iloc[7][1])

In [3]:
aali_bs.columns = aali_bs.iloc[7]

In [3]:
aali_bs

,"9/7/2020 PT RTI Infokom - Stock: Financial\nRTI Analytics Analyze any stock, anywhere, anytime. Know when to buy, what to buy, and when to sell.",Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Logout,Unnamed: 10,Unnamed: 11,Profile,Unnamed: 13,Unnamed: 14
0,Watchlist Market Overview Indices Movers...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,AALI,NaN,AALI - Astra Agro Lestari Tbk 11350,NaN,NaN,NaN,125,(1.11%),NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Summary,NaN,NaN,NaN,NaN,NaN,NaN,Last updated: 07/09/2020 09:39 Jakarta Time,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,LVol BVol Bid Offer OVol Freq Volu...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Market\nCap.,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,5 341 11350 11375 406 836 111...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,Balance Sheet (M in Million),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,NaN,Period Ending: (in Rp)\nCurrent Assets:,NaN,2020-06-30 00:00:00,2019-12-31 00:00:00,2018-12-31 00:00:00,2017-12-31 00:00:00,NaN,2016-12-31 00:00:00,NaN,NaN,2015-12-31 00:00:00,NaN,NaN,NaN
8,NaN,Cash and Cash Equivalents,NaN,"1,152,117 M","383,366 M","49,082 M","262,292 M",NaN,"531,583 M",NaN,NaN,"294,441 M",NaN,NaN,NaN
9,NaN,Net Receivables,NaN,"610,200 M","368,739 M","616,624 M","547,538 M",NaN,"527,273 M",NaN,NaN,"45,639 M",NaN,NaN,NaN
10,NaN,Inventory,NaN,"1,980,060 M","1,974,035 M","2,368,363 M","2,018,104 M",NaN,"2,097,204 M",NaN,NaN,"1,691,575 M",NaN,NaN,NaN
11,NaN,Prepaid Expenses,NaN,"1,686,739 M","1,169,618 M","1,244,927 M","1,260,585 M",NaN,"843,631 M",NaN,NaN,"740,081 M",NaN,NaN,NaN
12,NaN,Other Current Assets,NaN,"246,672 M","576,253 M","221,632 M","157,211 M",NaN,"51,853 M",NaN,NaN,"42,387 M",NaN,NaN,NaN
13,NaN,Total Current Assets,NaN,"5,675,788 M","4,472,011 M","4,500,628 M","4,245,730 M",NaN,"4,051,544 M",NaN,NaN,"2,814,123 M",NaN,NaN,NaN
14,NaN,Deferred Tax Assets,NaN,"719,121 M","825,031 M","838,940 M","994,046 M",NaN,"1,021,615 M",NaN,NaN,"304,729 M",NaN,NaN,NaN
15,NaN,Longterm Assets:,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16,NaN,Property Plant & Equipment,NaN,"17,784,273 M","18,030,998 M","18,285,233 M","17,032,362 M",NaN,"17,380,094 M",NaN,NaN,"16,509,560 M",NaN,NaN,NaN
17,NaN,Goodwill,NaN,"55,951 M","55,951 M","55,951 M","55,951 M",NaN,"55,951 M",NaN,NaN,"55,951 M",NaN,NaN,NaN
18,NaN,Intangible Assets,NaN,-,-,-,-,NaN,-,NaN,NaN,-,NaN,NaN,NaN
19,NaN,Other Assets,NaN,"3,146,137 M","3,590,133 M","3,176,215 M","2,607,337 M",NaN,"1,716,918 M",NaN,NaN,"1,828,008 M",NaN,NaN,NaN
20,NaN,Total Longterm Assets,NaN,"20,986,361 M","21,677,082 M","21,517,399 M","19,695,650 M",NaN,"19,152,963 M",NaN,NaN,"18,393,519 M",NaN,NaN,NaN
21,NaN,Total Assets,NaN,"27,381,270 M","26,974,124 M","26,856,967 M","24,935,426 M",NaN,"24,226,122 M",NaN,NaN,"21,512,371 M",NaN,NaN,NaN
22,NaN,Current Liabilities: Account Payables,NaN,"716,231 M","826,845 M","1,088,831 M","832,513 M",NaN,"940,108 M",NaN,NaN,"733,535 M",NaN,NaN,NaN
23,NaN,Short Term Debt,NaN,-,"150,000 M","1,125,000 M","852,446 M",NaN,"1,985,213 M",NaN,NaN,"2,024,860 M",NaN,NaN,NaN
24,NaN,Other Current Liabilities,NaN,"805,377 M","589,920 M","862,699 M","624,458 M",NaN,"1,017,646 M",NaN,NaN,"763,738 M",NaN,NaN,NaN
25,NaN,Total Current Liabilities,NaN,"1,521,608 M","1,566,765 M","3,076,530 M","2,309,417 M",NaN,"3,942,967 M",NaN,NaN,"3,522,133 M",NaN,NaN,NaN
26,NaN,Deferred Tax Liabilities,NaN,"119,451 M","142,484 M","116,217 M","80,668 M",NaN,"56,977 M",NaN,NaN,"70,564 M",NaN,NaN,NaN
27,NaN,Longterm Liabilities,NaN,"6,420,853 M","6,286,348 M","4,189,698 M","4,008,903 M",NaN,"2,632,696 M",NaN,NaN,"6,220,887 M",NaN,NaN,NaN
28,NaN,Total Liabilities,NaN,"8,061,912 M","7,995,597 M","7,382,445 M","6,398,988 M",NaN,"6,632,640 M",NaN,NaN,"9,813,584 M",NaN,NaN,NaN
29,NaN,Minority Interest\nStockholders' Equity:,NaN,-,-,-,-,NaN,-,NaN,NaN,-,NaN,NaN,NaN
30,NaN,Common Stock,NaN,"962,344 M","962,344 M","962,344 M","962,344 M",NaN,"962,344 M",NaN,NaN,"787,373 M",NaN,NaN,NaN
31,NaN,Paid-in Capital,NaN,"3,878,995 M","3,878,995 M","3,878,995 M","3,878,995 M",NaN,"3,878,995 M",NaN,NaN,"83,603 M",NaN,NaN,NaN
32,NaN,Retained Earnings (deficit),NaN,"14,141,472 M","13,843,880 M","14,181,734 M","13,258,048 M",NaN,"12,293,945 M",NaN,NaN,"10,413,840 M",NaN,NaN,NaN
33,NaN,Other Stockholders' Equity,NaN,"-114,547 M","-164,066 M","-33,444 M","-33,444 M",NaN,"458,198 M",NaN,NaN,-,NaN,NaN,NaN
34,NaN,Non Controlling Interest (Effective 2011),NaN,"451,094 M","457,374 M","484,893 M","470,495 M",NaN,-,NaN,NaN,"413,971 M",NaN,NaN,NaN
35,NaN,Total Stockholders' Equity,NaN,"19,319,358 M","18,978,527 M","19,474,522 M","18,536,438 M",NaN,"17,593,482 M",NaN,NaN,"11,698,787 M",NaN,NaN,NaN
36,NaN,Total Liabilities &\nStockholders' Equity,NaN,"27,381,270 M","26,974,124 M","26,856,967 M","24,935,426 M",NaN,"24,226,122 M",NaN,NaN,"21,512,371 M",NaN,NaN,NaN
37,Copyright PT. RTI Infokom 1995 - 2020,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
38,https://analytics2.rti.co.id/?m_id=1&sub_m=s2&...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [4]:
aali_is

,"9/7/2020 PT RTI Infokom - Stock: Financial\nRTI Analytics Analyze any stock, anywhere, anytime. Know when to buy, what to buy, and when to sell.",Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11,Logout,Unnamed: 13,Unnamed: 14,Unnamed: 15,Profile,Unnamed: 17,Unnamed: 18
0,Watchlist Market Overview Indices Movers...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Overview Analytics Performance Company N...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,AALI,AALI - Astra Agro Lestari Tbk 11350,NaN,NaN,NaN,NaN,NaN,NaN,125.0,(1.11%),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Summary,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Last updated: 07/09/2020 09:40 Jakarta Time,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,LVol BVol Bid Offer OVol Freq Volu...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Market Cap.,NaN,NaN,NaN,NaN
5,5 341 11350 11375 406 836 111...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,Annual Quarter (YTD),NaN,NaN,Income Statement (M in,NaN,Million),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,Period Ending: (in Rp),NaN,2020-06-30 00:00:00,2019-12-31 00:00:00,NaN,2018-12-31 00:00:00,NaN,2017-12-31 00:00:00,NaN,NaN,2016-12-31 00:00:00,NaN,NaN,2015-12-31 00:00:00,NaN,NaN,NaN,NaN,NaN
8,Total Sales,NaN,"9,081,017 M","17,452,736 M",NaN,"19,084,387 M",NaN,"17,305,688 M",NaN,NaN,"14,121,374 M",NaN,NaN,"13,059,216 M",NaN,NaN,NaN,NaN,NaN
9,Cost of Good Sold,NaN,"7,777,500 M","15,308,230 M",NaN,"15,544,881 M",NaN,"13,160,438 M",NaN,NaN,"10,445,360 M",NaN,NaN,"9,977,118 M",NaN,NaN,NaN,NaN,NaN
10,Gross Profit,NaN,"1,303,517 M","2,144,506 M",NaN,"3,539,506 M",NaN,"4,145,250 M",NaN,NaN,"3,676,014 M",NaN,NaN,"3,082,098 M",NaN,NaN,NaN,NaN,NaN
11,Operating Expenses:\nSales & Marketing Expenses,NaN,"211,077 M","460,839 M",NaN,"427,554 M",NaN,"337,933 M",NaN,NaN,"340,780 M",NaN,NaN,"537,533 M",NaN,NaN,NaN,NaN,NaN
12,Administrative Expenses,NaN,"336,239 M","723,359 M",NaN,"786,046 M",NaN,"756,418 M",NaN,NaN,"676,626 M",NaN,NaN,"691,412 M",NaN,NaN,NaN,NaN,NaN
13,Other Operating Expenses,NaN,-,-,NaN,-,NaN,-,NaN,NaN,-,NaN,NaN,-,NaN,NaN,NaN,NaN,NaN
14,Total Operating Expenses,NaN,"547,316 M","1,184,198 M",NaN,"1,213,600 M",NaN,"1,094,351 M",NaN,NaN,"1,017,406 M",NaN,NaN,"1,228,945 M",NaN,NaN,NaN,NaN,NaN
15,Operating Income,NaN,"756,201 M","960,308 M",NaN,"2,325,906 M",NaN,"3,050,899 M",NaN,NaN,"2,658,608 M",NaN,NaN,"1,853,153 M",NaN,NaN,NaN,NaN,NaN
16,Other Income & Expenses: Interest Income,NaN,"20,272 M","30,214 M",NaN,"25,774 M",NaN,"24,005 M",NaN,NaN,"25,588 M",NaN,NaN,"27,776 M",NaN,NaN,NaN,NaN,NaN
17,Interest Expense (Effective 2011 Q3),NaN,"-217,343 M","-350,337 M",NaN,"-225,057 M",NaN,"-132,446 M",NaN,NaN,"-144,873 M",NaN,NaN,"-125,509 M",NaN,NaN,NaN,NaN,NaN
18,Foreign Exchange Gain (Loss),NaN,"-19,092 M","-34,652 M",NaN,"66,114 M",NaN,"4,912 M",NaN,NaN,"200,613 M",NaN,NaN,"-580,368 M",NaN,NaN,NaN,NaN,NaN
19,Gain (Loss) on Sale of Assets,NaN,-,-,NaN,-,NaN,-,NaN,NaN,-,NaN,NaN,-,NaN,NaN,NaN,NaN,NaN
20,Other Items,NaN,"107,737 M","55,327 M",NaN,"14,343 M",NaN,"-8,865 M",NaN,NaN,"-531,158 M",NaN,NaN,461 M,NaN,NaN,NaN,NaN,NaN
21,Total Other Income & Expenses,NaN,"-108,426 M","-299,448 M",NaN,"-118,826 M",NaN,"-112,394 M",NaN,NaN,"-449,830 M",NaN,NaN,"-677,640 M",NaN,NaN,NaN,NaN,NaN
22,Income Before Tax,NaN,"647,775 M","660,860 M",NaN,"2,207,080 M",NaN,"2,938,505 M",NaN,NaN,"2,208,778 M",NaN,NaN,"1,175,513 M",NaN,NaN,NaN,NaN,NaN
23,Income Tax Expenses,NaN,"239,314 M","417,231 M",NaN,"686,357 M",NaN,"824,876 M",NaN,NaN,"94,479 M",NaN,NaN,"479,829 M",NaN,NaN,NaN,NaN,NaN
24,Income From Normal Operations,NaN,"408,461 M","243,629 M",NaN,"1,520,723 M",NaN,"2,113,629 M",NaN,NaN,"2,114,299 M",NaN,NaN,"695,684 M",NaN,NaN,NaN,NaN,NaN
25,Extraordinary Items,NaN,-,-,NaN,-,NaN,-,NaN,NaN,-,NaN,NaN,-,NaN,NaN,NaN,NaN,NaN
26,Minority Int. in Net Earnings (Subsidiary),NaN,-,-,NaN,-,NaN,-,NaN,NaN,-,NaN,NaN,-,NaN,NaN,NaN,NaN,NaN
27,Net Income,NaN,"408,461 M","243,629 M",NaN,"1,520,723 M",NaN,"2,113,629 M",NaN,NaN,"2,114,299 M",NaN,NaN,"695,684 M",NaN,NaN,NaN,NaN,NaN
28,Net Income Attributable to: (Effective 2011)\n...,NaN,"391,901 M","211,117 M",NaN,"1,438,511 M",NaN,"2,010,332 M",NaN,NaN,"2,006,973 M",NaN,NaN,"619,107 M",NaN,NaN,NaN,NaN,NaN
29,Non Controlling Interest,NaN,"16,560 M","32,512 M",NaN,"82,212 M",NaN,"103,297 M",NaN,NaN,"107,326 M",NaN,NaN,"76,577 M",NaN,NaN,NaN,NaN,NaN
30,NaN,NaN,"408,461 M","243,629 M",NaN,"1,520,723 M",NaN,"2,113,629 M",NaN,NaN,"2,114,299 M",NaN,NaN,"695,684 M",NaN,NaN,NaN,NaN,NaN
31,203.62,NaN,NaN,NaN,109.69,NaN,747.4,NaN,1044.5,NaN,NaN,1135.85,NaN,NaN,NaN,393.15,NaN,NaN,NaN
32,203.62,NaN,NaN,NaN,109.69,NaN,-,NaN,1044.5,NaN,NaN,1135.85,NaN,NaN,NaN,-,NaN,NaN,NaN
33,Earnings Per Share\nDiluted Earnings Per Share,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
34,Comprehensive Income: (Effective 2011)\nNet In...,NaN,"408,461 M","243,629 M",NaN,"1,520,723 M",NaN,"2,113,629 M",NaN,NaN,"2,114,299 M",NaN,NaN,"695,684 M",NaN,NaN,NaN,NaN,NaN
35,Other Comprehensive Income,NaN,"49,519 M","-248,852 M",NaN,"151,293 M",NaN,"-49,614 M",NaN,NaN,"65,488 M",NaN,NaN,"-6,281 M",NaN,NaN,NaN,NaN,NaN
36,Total Comprehensive Income,NaN,"457,980 M","-5,223 M",NaN,"1,672,016 M",NaN,"2,064,015 M",NaN,NaN,"2,179,787 M",NaN,NaN,"689,403 M",NaN,NaN,NaN,NaN,NaN
37,Comprehensive Income Attributable to: (Effecti...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
38,Equity Holders of the Company,NaN,"441,420 M","-37,346 M",NaN,"1,589,141 M",NaN,"1,961,092 M",NaN,NaN,"2,070,649 M",NaN,NaN,"612,292 M",NaN,NaN,NaN,NaN,NaN
39,Non Controlling Interest,NaN,"16,560 M","32,123 M",NaN,"82,875 M",NaN,"102,923 M",NaN,NaN,"109,138 M",NaN,NaN,"77,111 M",NaN,NaN,NaN,NaN,NaN
40,NaN,NaN,"457,980 M","-5,223 M",NaN,"1,672,016 M",NaN,"2,064,015 M",NaN,NaN,"2,179,787 M",NaN,NaN,"689,403 M",NaN,NaN,NaN,NaN,NaN
41,Copyright PT. RTI Infokom 1995 - 2020,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
42,https://analytics2.rti.co.id/?m_id=1&sub_m=s2&...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [5]:
aali_cs

,"9/7/2020 PT RTI Infokom - Stock: Financial\nRTI Analytics Analyze any stock, anywhere, anytime. Know when to buy, what to buy, and when to sell.",Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Logout,Unnamed: 10,Unnamed: 11,Profile,Unnamed: 13,Unnamed: 14
0,Watchlist Market Overview Indices Movers...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,AALI,NaN,AALI - Astra Agro Lestari Tbk 11350,NaN,NaN,NaN,125,(1.11%),NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Summary,NaN,NaN,NaN,NaN,NaN,NaN,Last updated: 07/09/2020 09:40 Jakarta Time,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,LVol BVol Bid Offer OVol Freq Volu...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Market\nCap.,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,5 341 11350 11375 406 836 111...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,Cash Flow (M in Million),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,NaN,Period Ending: (in Rp)\nOperating Activities:,NaN,2020-06-30 00:00:00,2019-12-31 00:00:00,2018-12-31 00:00:00,2017-12-31 00:00:00,NaN,2016-12-31 00:00:00,NaN,NaN,2015-12-31 00:00:00,NaN,NaN,NaN
8,NaN,Cash From Customers,NaN,"8,850,052 M","17,414,370 M","19,118,173 M","17,018,349 M",NaN,"13,756,286 M",NaN,NaN,"13,177,433 M",NaN,NaN,NaN
9,NaN,Payments for Operating Activities,NaN,"-7,750,844 M","-15,014,707 M","-15,591,781 M","-12,744,315 M",NaN,"-10,021,060 M",NaN,NaN,"-10,177,262 M",NaN,NaN,NaN
10,NaN,Other Operating Activities,NaN,"474,619 M","-1,107,310 M","-1,481,157 M","-1,432,212 M",NaN,"-1,223,403 M",NaN,NaN,"-1,972,398 M",NaN,NaN,NaN
11,NaN,Cash Flow from Operating Activities,NaN,"1,573,827 M","1,292,353 M","2,045,235 M","2,841,822 M",NaN,"2,511,823 M",NaN,NaN,"1,027,773 M",NaN,NaN,NaN
12,NaN,Investing Activities:\nCapital Expenditures,NaN,"-366,193 M","-1,271,872 M","-1,608,768 M","-1,753,504 M",NaN,"-2,330,312 M",NaN,NaN,"-2,586,334 M",NaN,NaN,NaN
13,NaN,Other Investing Activities,NaN,"-15,128 M","-35,511 M","-69,999 M",-,NaN,"-65,101 M",NaN,NaN,"-533,129 M",NaN,NaN,NaN
14,NaN,Cash Flow from Investing Activities,NaN,"-381,321 M","-1,307,383 M","-1,678,767 M","-1,753,504 M",NaN,"-2,395,413 M",NaN,NaN,"-3,119,463 M",NaN,NaN,NaN
15,NaN,Financing Activities:\nAdditional Paid in Capital,NaN,-,-,-,-,NaN,"3,970,363 M",NaN,NaN,-,NaN,NaN,NaN
16,NaN,Financing Activities (Related Party),NaN,-,-,-,-,NaN,-,NaN,NaN,-,NaN,NaN,NaN
17,NaN,Dividends Paid,NaN,"-22,840 M","-490,733 M","-909,903 M","-1,072,966 M",NaN,"-255,438 M",NaN,NaN,"-824,310 M",NaN,NaN,NaN
18,NaN,Other Financing Activities,NaN,"-364,455 M","824,827 M","300,571 M","-288,652 M",NaN,"-3,598,462 M",NaN,NaN,"2,595,506 M",NaN,NaN,NaN
19,NaN,Cash Flow from Financing Activities,NaN,"-387,295 M","334,094 M","-609,332 M","-1,361,618 M",NaN,"116,463 M",NaN,NaN,"1,771,196 M",NaN,NaN,NaN
20,NaN,Net Increase (Decrease) in Cash Flow,NaN,"805,211 M","319,064 M","-242,864 M","-273,300 M",NaN,"232,873 M",NaN,NaN,"-320,494 M",NaN,NaN,NaN
21,NaN,Cash at the Beginning of the Period,NaN,"383,366 M","49,082 M","262,292 M","531,583 M",NaN,"294,441 M",NaN,NaN,"611,181 M",NaN,NaN,NaN
22,NaN,Effect of Exchange Rate Changes,NaN,"-36,460 M","15,220 M","29,654 M","4,009 M",NaN,"4,269 M",NaN,NaN,"3,754 M",NaN,NaN,NaN
23,NaN,Cash at the End of the Period,NaN,"1,152,117 M","383,366 M","49,082 M","262,292 M",NaN,"531,583 M",NaN,NaN,"294,441 M",NaN,NaN,NaN
24,Copyright PT. RTI Infokom 1995 - 2020,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25,https://analytics2.rti.co.id/?m_id=1&sub_m=s2&...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [41]:
abba_bs.columns = abba_bs.iloc[0]

In [45]:
abba_bs.columns

Index(['Period Ending:   (in Rp)\nCurrent Assets:',
                               2020-06-30 00:00:00,
                                               nan,
                               2019-12-31 00:00:00,
                                               nan,
                               2018-12-31 00:00:00,
                                               nan,
                                               nan,
                               2017-12-31 00:00:00,
                                               nan,
                               2016-12-31 00:00:00,
                               2015-12-31 00:00:00,
                                               nan,
                                               nan,
                                               nan],
      dtype='object', name=9)

In [46]:
abba_bs

9,Period Ending: (in Rp)\nCurrent Assets:,2020-06-30 00:00:00,NaN,2019-12-31 00:00:00,NaN,2018-12-31 00:00:00,NaN,NaN,2017-12-31 00:00:00,NaN,2016-12-31 00:00:00,2015-12-31 00:00:00,NaN,NaN,NaN
9,Period Ending: (in Rp)\nCurrent Assets:,2020-06-30 00:00:00,NaN,2019-12-31 00:00:00,NaN,2018-12-31 00:00:00,NaN,NaN,2017-12-31 00:00:00,NaN,2016-12-31 00:00:00,2015-12-31 00:00:00,NaN,NaN,NaN
10,Cash and Cash Equivalents,"33,365 M",NaN,"23,376 M",NaN,"36,154 M",NaN,NaN,"47,562 M",NaN,"33,473 M","19,612 M",NaN,NaN,NaN
11,Net Receivables,"60,366 M",NaN,"56,163 M",NaN,"69,651 M",NaN,NaN,"82,666 M",NaN,"93,796 M","120,350 M",NaN,NaN,NaN
12,Inventory,"6,689 M",NaN,"6,921 M",NaN,"6,872 M",NaN,NaN,"4,667 M",NaN,"6,060 M","8,064 M",NaN,NaN,NaN
13,Prepaid Expenses,"7,380 M",NaN,"6,213 M",NaN,"14,015 M",NaN,NaN,"11,879 M",NaN,"21,881 M","15,877 M",NaN,NaN,NaN
14,Other Current Assets,"43,425 M",NaN,"44,413 M",NaN,"4,364 M",NaN,NaN,"1,250 M",NaN,"1,562 M","2,117 M",NaN,NaN,NaN
15,Total Current Assets,"151,224 M",NaN,"137,087 M",NaN,"131,055 M",NaN,NaN,"148,024 M",NaN,"156,773 M","166,021 M",NaN,NaN,NaN
16,Deferred Tax Assets,"23,277 M",NaN,"20,917 M",NaN,"21,041 M",NaN,NaN,"15,599 M",NaN,"18,400 M","16,490 M",NaN,NaN,NaN
17,Longterm Assets:,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18,Property Plant & Equipment,"29,115 M",NaN,"27,964 M",NaN,"34,238 M",NaN,NaN,"40,084 M",NaN,"66,250 M","75,312 M",NaN,NaN,NaN
19,Goodwill,-,NaN,-,NaN,-,NaN,NaN,-,NaN,"12,481 M","20,263 M",NaN,NaN,NaN
20,Intangible Assets,"23,542 M",NaN,"25,301 M",NaN,"27,991 M",NaN,NaN,"31,797 M",NaN,-,-,NaN,NaN,NaN
21,Other Assets,"101,770 M",NaN,"201,641 M",NaN,"304,020 M",NaN,NaN,"192,723 M",NaN,"173,904 M","126,034 M",NaN,NaN,NaN
22,Total Longterm Assets,"154,427 M",NaN,"254,906 M",NaN,"366,249 M",NaN,NaN,"264,603 M",NaN,"252,635 M","221,609 M",NaN,NaN,NaN
23,Total Assets,"328,929 M",NaN,"412,911 M",NaN,"518,345 M",NaN,NaN,"428,226 M",NaN,"427,808 M","404,119 M",NaN,NaN,NaN
24,Current Liabilities: Account Payables,"67,082 M",NaN,"56,056 M",NaN,"48,528 M",NaN,NaN,"50,810 M",NaN,"49,064 M","33,635 M",NaN,NaN,NaN
25,Short Term Debt,"16,046 M",NaN,"17,546 M",NaN,"17,767 M",NaN,NaN,"19,227 M",NaN,"24,181 M","16,530 M",NaN,NaN,NaN
26,Other Current Liabilities,"101,932 M",NaN,"99,713 M",NaN,"121,803 M",NaN,NaN,"52,389 M",NaN,"43,340 M","73,959 M",NaN,NaN,NaN
27,Total Current Liabilities,"185,060 M",NaN,"173,315 M",NaN,"188,098 M",NaN,NaN,"122,426 M",NaN,"116,585 M","124,124 M",NaN,NaN,NaN
28,Deferred Tax Liabilities,-,NaN,-,NaN,-,NaN,NaN,209 M,NaN,37 M,73 M,NaN,NaN,NaN
29,Longterm Liabilities,"193,398 M",NaN,"147,539 M",NaN,"130,259 M",NaN,NaN,"186,828 M",NaN,"151,817 M","146,933 M",NaN,NaN,NaN
30,Total Liabilities,"378,458 M",NaN,"320,854 M",NaN,"318,357 M",NaN,NaN,"309,463 M",NaN,"268,439 M","271,129 M",NaN,NaN,NaN
31,Minority Interest\nStockholders' Equity:,-,NaN,-,NaN,-,NaN,NaN,-,NaN,-,-,NaN,NaN,NaN
32,Common Stock,"275,512 M",NaN,"275,512 M",NaN,"275,512 M",NaN,NaN,"275,512 M",NaN,"275,512 M","275,512 M",NaN,NaN,NaN
33,Paid-in Capital,"-163,623 M",NaN,"-163,623 M",NaN,"-163,623 M",NaN,NaN,"-163,623 M",NaN,"-139,155 M","-139,155 M",NaN,NaN,NaN
34,Retained Earnings (deficit),"-177,409 M",NaN,"-154,258 M",NaN,"-120,344 M",NaN,NaN,"-102,645 M",NaN,"-74,088 M","-32,688 M",NaN,NaN,NaN
35,Other Stockholders' Equity,"37,986 M",NaN,"149,489 M",NaN,"211,638 M",NaN,NaN,"94,651 M",NaN,"69,517 M",-,NaN,NaN,NaN
36,Non Controlling Interest (Effective 2011),"-21,995 M",NaN,"-15,063 M",NaN,"-3,195 M",NaN,NaN,"14,868 M",NaN,"27,583 M","29,320 M",NaN,NaN,NaN
37,Total Stockholders' Equity,"-49,529 M",NaN,"92,056 M",NaN,"199,988 M",NaN,NaN,"118,763 M",NaN,"159,369 M","132,990 M",NaN,NaN,NaN
38,Total Liabilities &\nStockholders' Equity,"328,929 M",NaN,"412,911 M",NaN,"518,345 M",NaN,NaN,"428,226 M",NaN,"427,808 M","404,119 M",NaN,NaN,NaN
39,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
40,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [18]:
abda_cs = pd.read_excel('lap_keuangan/ZIP/ABDA - CS.xlsx')
abda_cs[abda_cs['Unnamed: 1'] == 'Cash Flow from Operating Activities']

,"9/7/2020 PT RTI Infokom - Stock: Financial\nRTI Analytics Analyze any stock, anywhere, anytime. Know when to buy, what to buy, and when to sell.",Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Logout,Unnamed: 10,Profile\n,Unnamed: 12,Unnamed: 13
9,NaN,Cash Flow from Operating Activities,NaN,"-89,502 M","-205,012 M","-115,023 M","63,962 M",NaN,"121,205 M",NaN,"130,279 M",NaN,NaN,NaN

In [3]:
pd.read_excel('lap_keuangan/XLSX/AALI - CS.xlsx')

,"9/7/2020 PT RTI Infokom - Stock: Financial\nRTI Analytics Analyze any stock, anywhere, anytime. Know when to buy, what to buy, and when to sell.",Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Logout,Unnamed: 10,Unnamed: 11,Profile,Unnamed: 13,Unnamed: 14
0,Watchlist Market Overview Indices Movers...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,AALI,NaN,AALI - Astra Agro Lestari Tbk 11350,NaN,NaN,NaN,125,(1.11%),NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Summary,NaN,NaN,NaN,NaN,NaN,NaN,Last updated: 07/09/2020 09:40 Jakarta Time,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,LVol BVol Bid Offer OVol Freq Volu...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Market\nCap.,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,5 341 11350 11375 406 836 111...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,Cash Flow (M in Million),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,NaN,Period Ending: (in Rp)\nOperating Activities:,NaN,2020-06-30 00:00:00,2019-12-31 00:00:00,2018-12-31 00:00:00,2017-12-31 00:00:00,NaN,2016-12-31 00:00:00,NaN,NaN,2015-12-31 00:00:00,NaN,NaN,NaN
8,NaN,Cash From Customers,NaN,"8,850,052 M","17,414,370 M","19,118,173 M","17,018,349 M",NaN,"13,756,286 M",NaN,NaN,"13,177,433 M",NaN,NaN,NaN
9,NaN,Payments for Operating Activities,NaN,"-7,750,844 M","-15,014,707 M","-15,591,781 M","-12,744,315 M",NaN,"-10,021,060 M",NaN,NaN,"-10,177,262 M",NaN,NaN,NaN
10,NaN,Other Operating Activities,NaN,"474,619 M","-1,107,310 M","-1,481,157 M","-1,432,212 M",NaN,"-1,223,403 M",NaN,NaN,"-1,972,398 M",NaN,NaN,NaN
11,NaN,Cash Flow from Operating Activities,NaN,"1,573,827 M","1,292,353 M","2,045,235 M","2,841,822 M",NaN,"2,511,823 M",NaN,NaN,"1,027,773 M",NaN,NaN,NaN
12,NaN,Investing Activities:\nCapital Expenditures,NaN,"-366,193 M","-1,271,872 M","-1,608,768 M","-1,753,504 M",NaN,"-2,330,312 M",NaN,NaN,"-2,586,334 M",NaN,NaN,NaN
13,NaN,Other Investing Activities,NaN,"-15,128 M","-35,511 M","-69,999 M",-,NaN,"-65,101 M",NaN,NaN,"-533,129 M",NaN,NaN,NaN
14,NaN,Cash Flow from Investing Activities,NaN,"-381,321 M","-1,307,383 M","-1,678,767 M","-1,753,504 M",NaN,"-2,395,413 M",NaN,NaN,"-3,119,463 M",NaN,NaN,NaN
15,NaN,Financing Activities:\nAdditional Paid in Capital,NaN,-,-,-,-,NaN,"3,970,363 M",NaN,NaN,-,NaN,NaN,NaN
16,NaN,Financing Activities (Related Party),NaN,-,-,-,-,NaN,-,NaN,NaN,-,NaN,NaN,NaN
17,NaN,Dividends Paid,NaN,"-22,840 M","-490,733 M","-909,903 M","-1,072,966 M",NaN,"-255,438 M",NaN,NaN,"-824,310 M",NaN,NaN,NaN
18,NaN,Other Financing Activities,NaN,"-364,455 M","824,827 M","300,571 M","-288,652 M",NaN,"-3,598,462 M",NaN,NaN,"2,595,506 M",NaN,NaN,NaN
19,NaN,Cash Flow from Financing Activities,NaN,"-387,295 M","334,094 M","-609,332 M","-1,361,618 M",NaN,"116,463 M",NaN,NaN,"1,771,196 M",NaN,NaN,NaN
20,NaN,Net Increase (Decrease) in Cash Flow,NaN,"805,211 M","319,064 M","-242,864 M","-273,300 M",NaN,"232,873 M",NaN,NaN,"-320,494 M",NaN,NaN,NaN
21,NaN,Cash at the Beginning of the Period,NaN,"383,366 M","49,082 M","262,292 M","531,583 M",NaN,"294,441 M",NaN,NaN,"611,181 M",NaN,NaN,NaN
22,NaN,Effect of Exchange Rate Changes,NaN,"-36,460 M","15,220 M","29,654 M","4,009 M",NaN,"4,269 M",NaN,NaN,"3,754 M",NaN,NaN,NaN
23,NaN,Cash at the End of the Period,NaN,"1,152,117 M","383,366 M","49,082 M","262,292 M",NaN,"531,583 M",NaN,NaN,"294,441 M",NaN,NaN,NaN
24,Copyright PT. RTI Infokom 1995 - 2020,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25,https://analytics2.rti.co.id/?m_id=1&sub_m=s2&...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN