In [1]:
import pandas as pd
import requests

In [33]:
abba_bs = pd.read_excel('lap_keuangan/ZIP/ABBA - BS.xlsx')
abba_cs = pd.read_excel('lap_keuangan/ZIP/ABBA - CS.xlsx')
abba_is = pd.read_excel('lap_keuangan/ZIP/ABBA - IS.xlsx')

In [50]:
pd.read_csv('https://analytics.rti.co.id/query_financial.jsp?type=2&code=BBRI&sector=81&period=A&0.05916599506589182', sep='|')

EmptyDataError: No columns to parse from file

In [34]:
abba_bs.drop(index=list(range(0, 9)), inplace=True)

In [35]:
abba_bs.drop(columns=abba_bs.columns[:2], inplace=True)

In [36]:
abba_bs.drop(columns=abba_bs.columns[1:3], inplace=True)

In [30]:
abba_bs.columns[1:3]

Index(['Unnamed: 2', 'Unnamed: 3', 'Unnamed: 4', 'Unnamed: 5', 'Unnamed: 6',
       'Unnamed: 7', 'Unnamed: 8', 'Unnamed: 9', 'Unnamed: 10', 'Unnamed: 11',
       'Unnamed: 12', 'Unnamed: 13', 'Logout', 'Unnamed: 15', 'Profile\n',
       'Unnamed: 17', 'Unnamed: 18'],
      dtype='object')

In [41]:
abba_bs.columns = abba_bs.iloc[0]

In [45]:
abba_bs.columns

Index(['Period Ending:   (in Rp)\nCurrent Assets:',
                               2020-06-30 00:00:00,
                                               nan,
                               2019-12-31 00:00:00,
                                               nan,
                               2018-12-31 00:00:00,
                                               nan,
                                               nan,
                               2017-12-31 00:00:00,
                                               nan,
                               2016-12-31 00:00:00,
                               2015-12-31 00:00:00,
                                               nan,
                                               nan,
                                               nan],
      dtype='object', name=9)

In [46]:
abba_bs

9,Period Ending: (in Rp)\nCurrent Assets:,2020-06-30 00:00:00,NaN,2019-12-31 00:00:00,NaN,2018-12-31 00:00:00,NaN,NaN,2017-12-31 00:00:00,NaN,2016-12-31 00:00:00,2015-12-31 00:00:00,NaN,NaN,NaN
9,Period Ending: (in Rp)\nCurrent Assets:,2020-06-30 00:00:00,NaN,2019-12-31 00:00:00,NaN,2018-12-31 00:00:00,NaN,NaN,2017-12-31 00:00:00,NaN,2016-12-31 00:00:00,2015-12-31 00:00:00,NaN,NaN,NaN
10,Cash and Cash Equivalents,"33,365 M",NaN,"23,376 M",NaN,"36,154 M",NaN,NaN,"47,562 M",NaN,"33,473 M","19,612 M",NaN,NaN,NaN
11,Net Receivables,"60,366 M",NaN,"56,163 M",NaN,"69,651 M",NaN,NaN,"82,666 M",NaN,"93,796 M","120,350 M",NaN,NaN,NaN
12,Inventory,"6,689 M",NaN,"6,921 M",NaN,"6,872 M",NaN,NaN,"4,667 M",NaN,"6,060 M","8,064 M",NaN,NaN,NaN
13,Prepaid Expenses,"7,380 M",NaN,"6,213 M",NaN,"14,015 M",NaN,NaN,"11,879 M",NaN,"21,881 M","15,877 M",NaN,NaN,NaN
14,Other Current Assets,"43,425 M",NaN,"44,413 M",NaN,"4,364 M",NaN,NaN,"1,250 M",NaN,"1,562 M","2,117 M",NaN,NaN,NaN
15,Total Current Assets,"151,224 M",NaN,"137,087 M",NaN,"131,055 M",NaN,NaN,"148,024 M",NaN,"156,773 M","166,021 M",NaN,NaN,NaN
16,Deferred Tax Assets,"23,277 M",NaN,"20,917 M",NaN,"21,041 M",NaN,NaN,"15,599 M",NaN,"18,400 M","16,490 M",NaN,NaN,NaN
17,Longterm Assets:,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18,Property Plant & Equipment,"29,115 M",NaN,"27,964 M",NaN,"34,238 M",NaN,NaN,"40,084 M",NaN,"66,250 M","75,312 M",NaN,NaN,NaN
19,Goodwill,-,NaN,-,NaN,-,NaN,NaN,-,NaN,"12,481 M","20,263 M",NaN,NaN,NaN
20,Intangible Assets,"23,542 M",NaN,"25,301 M",NaN,"27,991 M",NaN,NaN,"31,797 M",NaN,-,-,NaN,NaN,NaN
21,Other Assets,"101,770 M",NaN,"201,641 M",NaN,"304,020 M",NaN,NaN,"192,723 M",NaN,"173,904 M","126,034 M",NaN,NaN,NaN
22,Total Longterm Assets,"154,427 M",NaN,"254,906 M",NaN,"366,249 M",NaN,NaN,"264,603 M",NaN,"252,635 M","221,609 M",NaN,NaN,NaN
23,Total Assets,"328,929 M",NaN,"412,911 M",NaN,"518,345 M",NaN,NaN,"428,226 M",NaN,"427,808 M","404,119 M",NaN,NaN,NaN
24,Current Liabilities: Account Payables,"67,082 M",NaN,"56,056 M",NaN,"48,528 M",NaN,NaN,"50,810 M",NaN,"49,064 M","33,635 M",NaN,NaN,NaN
25,Short Term Debt,"16,046 M",NaN,"17,546 M",NaN,"17,767 M",NaN,NaN,"19,227 M",NaN,"24,181 M","16,530 M",NaN,NaN,NaN
26,Other Current Liabilities,"101,932 M",NaN,"99,713 M",NaN,"121,803 M",NaN,NaN,"52,389 M",NaN,"43,340 M","73,959 M",NaN,NaN,NaN
27,Total Current Liabilities,"185,060 M",NaN,"173,315 M",NaN,"188,098 M",NaN,NaN,"122,426 M",NaN,"116,585 M","124,124 M",NaN,NaN,NaN
28,Deferred Tax Liabilities,-,NaN,-,NaN,-,NaN,NaN,209 M,NaN,37 M,73 M,NaN,NaN,NaN
29,Longterm Liabilities,"193,398 M",NaN,"147,539 M",NaN,"130,259 M",NaN,NaN,"186,828 M",NaN,"151,817 M","146,933 M",NaN,NaN,NaN
30,Total Liabilities,"378,458 M",NaN,"320,854 M",NaN,"318,357 M",NaN,NaN,"309,463 M",NaN,"268,439 M","271,129 M",NaN,NaN,NaN
31,Minority Interest\nStockholders' Equity:,-,NaN,-,NaN,-,NaN,NaN,-,NaN,-,-,NaN,NaN,NaN
32,Common Stock,"275,512 M",NaN,"275,512 M",NaN,"275,512 M",NaN,NaN,"275,512 M",NaN,"275,512 M","275,512 M",NaN,NaN,NaN
33,Paid-in Capital,"-163,623 M",NaN,"-163,623 M",NaN,"-163,623 M",NaN,NaN,"-163,623 M",NaN,"-139,155 M","-139,155 M",NaN,NaN,NaN
34,Retained Earnings (deficit),"-177,409 M",NaN,"-154,258 M",NaN,"-120,344 M",NaN,NaN,"-102,645 M",NaN,"-74,088 M","-32,688 M",NaN,NaN,NaN
35,Other Stockholders' Equity,"37,986 M",NaN,"149,489 M",NaN,"211,638 M",NaN,NaN,"94,651 M",NaN,"69,517 M",-,NaN,NaN,NaN
36,Non Controlling Interest (Effective 2011),"-21,995 M",NaN,"-15,063 M",NaN,"-3,195 M",NaN,NaN,"14,868 M",NaN,"27,583 M","29,320 M",NaN,NaN,NaN
37,Total Stockholders' Equity,"-49,529 M",NaN,"92,056 M",NaN,"199,988 M",NaN,NaN,"118,763 M",NaN,"159,369 M","132,990 M",NaN,NaN,NaN
38,Total Liabilities &\nStockholders' Equity,"328,929 M",NaN,"412,911 M",NaN,"518,345 M",NaN,NaN,"428,226 M",NaN,"427,808 M","404,119 M",NaN,NaN,NaN
39,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
40,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [18]:
abda_cs = pd.read_excel('lap_keuangan/ZIP/ABDA - CS.xlsx')
abda_cs[abda_cs['Unnamed: 1'] == 'Cash Flow from Operating Activities']

,"9/7/2020 PT RTI Infokom - Stock: Financial\nRTI Analytics Analyze any stock, anywhere, anytime. Know when to buy, what to buy, and when to sell.",Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Logout,Unnamed: 10,Profile\n,Unnamed: 12,Unnamed: 13
9,NaN,Cash Flow from Operating Activities,NaN,"-89,502 M","-205,012 M","-115,023 M","63,962 M",NaN,"121,205 M",NaN,"130,279 M",NaN,NaN,NaN

In [3]:
pd.read_excel('lap_keuangan/XLSX/AALI - CS.xlsx')

,"9/7/2020 PT RTI Infokom - Stock: Financial\nRTI Analytics Analyze any stock, anywhere, anytime. Know when to buy, what to buy, and when to sell.",Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Logout,Unnamed: 10,Unnamed: 11,Profile,Unnamed: 13,Unnamed: 14
0,Watchlist Market Overview Indices Movers...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,AALI,NaN,AALI - Astra Agro Lestari Tbk 11350,NaN,NaN,NaN,125,(1.11%),NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Summary,NaN,NaN,NaN,NaN,NaN,NaN,Last updated: 07/09/2020 09:40 Jakarta Time,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,LVol BVol Bid Offer OVol Freq Volu...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Market\nCap.,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,5 341 11350 11375 406 836 111...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,Cash Flow (M in Million),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,NaN,Period Ending: (in Rp)\nOperating Activities:,NaN,2020-06-30 00:00:00,2019-12-31 00:00:00,2018-12-31 00:00:00,2017-12-31 00:00:00,NaN,2016-12-31 00:00:00,NaN,NaN,2015-12-31 00:00:00,NaN,NaN,NaN
8,NaN,Cash From Customers,NaN,"8,850,052 M","17,414,370 M","19,118,173 M","17,018,349 M",NaN,"13,756,286 M",NaN,NaN,"13,177,433 M",NaN,NaN,NaN
9,NaN,Payments for Operating Activities,NaN,"-7,750,844 M","-15,014,707 M","-15,591,781 M","-12,744,315 M",NaN,"-10,021,060 M",NaN,NaN,"-10,177,262 M",NaN,NaN,NaN
10,NaN,Other Operating Activities,NaN,"474,619 M","-1,107,310 M","-1,481,157 M","-1,432,212 M",NaN,"-1,223,403 M",NaN,NaN,"-1,972,398 M",NaN,NaN,NaN
11,NaN,Cash Flow from Operating Activities,NaN,"1,573,827 M","1,292,353 M","2,045,235 M","2,841,822 M",NaN,"2,511,823 M",NaN,NaN,"1,027,773 M",NaN,NaN,NaN
12,NaN,Investing Activities:\nCapital Expenditures,NaN,"-366,193 M","-1,271,872 M","-1,608,768 M","-1,753,504 M",NaN,"-2,330,312 M",NaN,NaN,"-2,586,334 M",NaN,NaN,NaN
13,NaN,Other Investing Activities,NaN,"-15,128 M","-35,511 M","-69,999 M",-,NaN,"-65,101 M",NaN,NaN,"-533,129 M",NaN,NaN,NaN
14,NaN,Cash Flow from Investing Activities,NaN,"-381,321 M","-1,307,383 M","-1,678,767 M","-1,753,504 M",NaN,"-2,395,413 M",NaN,NaN,"-3,119,463 M",NaN,NaN,NaN
15,NaN,Financing Activities:\nAdditional Paid in Capital,NaN,-,-,-,-,NaN,"3,970,363 M",NaN,NaN,-,NaN,NaN,NaN
16,NaN,Financing Activities (Related Party),NaN,-,-,-,-,NaN,-,NaN,NaN,-,NaN,NaN,NaN
17,NaN,Dividends Paid,NaN,"-22,840 M","-490,733 M","-909,903 M","-1,072,966 M",NaN,"-255,438 M",NaN,NaN,"-824,310 M",NaN,NaN,NaN
18,NaN,Other Financing Activities,NaN,"-364,455 M","824,827 M","300,571 M","-288,652 M",NaN,"-3,598,462 M",NaN,NaN,"2,595,506 M",NaN,NaN,NaN
19,NaN,Cash Flow from Financing Activities,NaN,"-387,295 M","334,094 M","-609,332 M","-1,361,618 M",NaN,"116,463 M",NaN,NaN,"1,771,196 M",NaN,NaN,NaN
20,NaN,Net Increase (Decrease) in Cash Flow,NaN,"805,211 M","319,064 M","-242,864 M","-273,300 M",NaN,"232,873 M",NaN,NaN,"-320,494 M",NaN,NaN,NaN
21,NaN,Cash at the Beginning of the Period,NaN,"383,366 M","49,082 M","262,292 M","531,583 M",NaN,"294,441 M",NaN,NaN,"611,181 M",NaN,NaN,NaN
22,NaN,Effect of Exchange Rate Changes,NaN,"-36,460 M","15,220 M","29,654 M","4,009 M",NaN,"4,269 M",NaN,NaN,"3,754 M",NaN,NaN,NaN
23,NaN,Cash at the End of the Period,NaN,"1,152,117 M","383,366 M","49,082 M","262,292 M",NaN,"531,583 M",NaN,NaN,"294,441 M",NaN,NaN,NaN
24,Copyright PT. RTI Infokom 1995 - 2020,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25,https://analytics2.rti.co.id/?m_id=1&sub_m=s2&...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN